@import 'tailwindcss';

@theme {
  --color-custom-100: #4d44b5;
  --color-custom-200: #fb7d5b;
  --color-custom-300: #fcc43e;
  --color-custom-400: #4cbc9a;
  --color-custom-500: #ff4550;
  --color-custom-600: #ffffff;
  --color-custom-700: #303972;
  --color-custom-800: #f3f4ff;
  --color-custom-900: #f5f5f5;
  --color-custom-1000: #c1bbeb;
  --color-custom-1100: #a098ae;
  --color-custom-1200: #de6b3e;
  --color-custom-1300: #121212;
  --color-custom-transparency-100: rgba(77, 68, 181, 10%);
  --color-custom-gradient-100: linear-gradient(
    90deg,
    rgba(251, 125, 91, 1) 0%,
    rgba(251, 125, 91, 0.04) 100%
  );
  --color-gradient-200: linear-gradient(
    90deg,
    rgba(252, 196, 62, 1) 0%,
    rgba(252, 196, 62, 0.04) 100%
  );
  --color-custom-gradient-300: linear-gradient(
    90deg,
    rgba(77, 68, 181, 1) 0%,
    rgba(48, 57, 114, 1) 100%
  );
  --margin-custom-auto: 0 auto;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background: var(--color-custom-800);
  color: var(--color-custom-700);
  font-family: var(--font-poppins), sans-serif;
  height: 100%;
}
